.navbar{
    margin-bottom: 0; !important;
}
.btnmy{
    margin-bottom: 9px;
}
/*
ширина иконки апартамента
*/
.coll-search{
    width: 31%;
    background-color: #fbf9f9;
    margin-left: 17px;
    padding: 1px;
    float: left;
    border: 1px solid oldlace;
}
.thumbnailmy{
    border: 0px;
    margin-bottom: 28px;
    padding: 3px;
    background-color: #fff;
}
.wellMy{
    min-height: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.price_finish {
    color: darkslategrey;
    font-weight: 600;
    background-color: #fffc00;
    border-radius: 5px;
    margin-left: 8px;
}
.aboutapartment {
    margin-bottom: 5px;
}
.aboutapartmentbutton {
    width: 100%;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #519cb6;
}
.footer {
    font-family: "Times New Roman", serif;
}
.footer-link{
    width: auto;
    margin-top: 8px;
}
.footer-logo {
    float: right;
    font-size: .75em;
    width: 375px;
    margin-bottom: 15px;
}

.footer-link-single {
    float: left;
    width: 25%;
}
.successOrderDiv{
    margin: 10%;
    background: ghostwhite;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
}
.successOrderA{
    text-decoration: none;
    color: #3c9e11;
}
.to_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.bacgr {
    background-color: #ffffff;
}
.navbar-inverse{
    background-color: #02428a;!important;
    padding: 7px;
    font-size: medium;
    border-color: #02428a;
    border-radius: 1px;
}

.carousel-inner img {
    width: 80%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: auto;
    border-radius: 20px;
    margin-left: 10px;
}
.row.content {height: auto;}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}
.col-sm-3my {
    width: 24%;
    background-color: #fbf9f9;
    height: auto;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid;
    float: left;
    padding: 10px;
    min-width: 270px;
}
.info{
    background-color: #00f9ff;
    color: #02428a;
    padding: 8px;
    margin: 15px 17px 15px 11px;
}
.b404 {
    background: url("/images/404.png") no-repeat center;
    margin-top: 500px;
}
.center {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-49%, -48%);
    text-decoration: none;
    color: #bf0e0e;
    font-size: 17px;
    margin: 0;
    padding: 0 0 0;
}
.center::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    background-color: #262626;
    border-bottom: 6px solid #00f9ff;
    transition: 2s;
}
.center:hover::before {
    width: 100%;
}
.center::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 25%;
    width: 0;
    height: 6px;
    background-color: #262626;
    transition: .5s;
    transition-delay: .5s;
}
.center:hover::after {
    width: 50%;
}
.center span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 6px;
    background-color: #fff;
}
.hsearch {
    font-size: 30px;
    position: absolute;
    margin-left: 25%;
    margin-top: 11%;
    color: cadetblue;
}
.well {
    min-height: 20px;
    padding: 7px;
    background-color: #ffffff;
    border: 2px solid #5ab49e;
    border-radius: 5px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 16px 21px 35px rgba(2,44,2,22);
}
.marg {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

.width_OrderParameter {
    width: 52px;
}
/*
//block date css
*/
.selectForm {
    margin-bottom: 3%;
}
.leftBody {
    padding-left: 5%;
    border-right: 1px solid;
}
.leftBodyTitle{
    margin-left: 10%;
    margin-bottom: 5%;
}
.leftBodyLock {
    margin-bottom: 5%;
}
.leftBodyUnlock {
    margin-bottom: 5%;
}
.rightBodyTitle {
    margin-left: 10%;
    margin-bottom: 5%;
}
.rightBody {
    padding-left: 5%;
}
.colInp{
    padding-right: 50%;
}
.marginUpdateOrAdd {
    margin-bottom: 6px;
}
.navbarBalans {

    font-size: x-large;
    pointer-events: none;
}
.navbarvalute {
    padding-bottom: 3px;
    padding-top: 8px;
    color: aquamarine;
    float: left;
}
.addorupdate {
    margin-top: 4%;
    border: 1px solid aliceblue;
    padding-top: 2%;
    padding-left: 10%;
    background-color: white;
    padding-bottom: 11px;
}
/*page User*/
.search_user{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.search_user_select{
    min-width: 150px;
}
.search_user_div_body{
visibility: hidden;
}
/*update or add apart
*/
.deleteImage {
    background-color: red;
    font-size: small;
    width: 161%;
    padding: 3%;
    margin-left: 89%;
    margin-right: 11%
}
.divMd6Image {
    max-height: 100px;
    margin-top: 30px;
}
.fileUploadStyle {
    border-bottom: 1px solid;
    text-align: right;
}
/* download page
*/
#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #2B9AA2;
    z-index: 30;
}

.contpre small{font-size:25px;}

.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../images/ggi.svg) center center no-repeat;
    background-size:41px;
    margin: -16px 0 0 -16px;}